<!--IBM.
Developed by Arijit Chatterjee -->

<!DOCTYPE html> 
<html ng-app="myDemoApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ajax based signup form infotuts">
    <meta name="author" content="InfoTuts">
    
    <link rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" type="text/css" href='/stylesheets/bootstrap-responsive.css' />


      
	  <style type="text/css">
	  #footer {
	  margin-left: 400px;
	  }
	  </style>
	  <script src="/javascripts/angular.min.js"></script>
      <script src="/javascripts/angular-route.js"></script>
      <script src="/javascripts/controller.js"></script>
</head>
  <body ng-controller="mainController">	  
	
        
 	    

<div class="container well"> 
	
		<div ng-view></div>        
 </div>       
       
       
    <div id="footer">
    <h4>{{ message }}</h4></div>
  </body>
</html>

